@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Fira+Mono:wght@400;500;700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "IBM Plex Sans";
}

body {
    background-color: rgb(214, 214, 206);
}

html {
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em 0 1em;
}

header ul {
    margin: 0em 15em 0em 15em;
}

header a {
    text-decoration: none;
    color: rgb(26, 60, 77);
    font-size: 1em;
}

header li {
    list-style: none;
    display: inline-block;
    margin: 1em;
}

header .logo {
    width: 3em;
}

header img {
    width: 1em;
}

main {
    padding-top: 5em;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor h1 {
    font-weight: 400;
    font-size: 2.2em;
}

.update {
    margin-top: 3em;
    width: 42em;
    height: 6em;
    border-radius: 10px;
    display: flex;
    background-color: rgb(237, 237, 232);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}


.img-campana {
    width: 0.8em;
    /* background-color: rgb(237, 237, 232); */
}

.p-update {
    /* background-color: rgb(237, 237, 232); */
    font-size: 0.9em;
}

.texto-update {
    width: 90%;
    height: 100%;
    border-left: 1px solid #d6d6ce;
    padding: 1.1em;
}

.fila-tarjeta {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

.tarjeta {
    background-color: rgb(237, 237, 232);
    border-radius: 8px;
    box-shadow: 0 4px 8px grey;
    width: 23em;
    /* padding: 10px; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.tarjeta h2 {
    padding-left: 0.6em;
}

.tarjeta p {
    padding: 0em 2em 2em 1em;
}

.tarjeta img{
    border-top-left-radius:  8px;
    border-top-right-radius: 8px;
}