@font-face {
    font-family: "seven";
    src: url("../fuentes/fs-sevegment.otf.woff2") format("woff2");
}

main {
    width: 60%;
    margin: 0 auto;
}
.grande{
    font-size: 230px;
}
.chico{
    font-size: 50px;
}
.top{
    padding-top: 40px;
}

div {
    font-family: "seven";
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(151, 150, 169);
    padding: 10px;
    border-radius: 5px;
    justify-items: center;
}

.div1 {
    grid-area: 1 / 1 / 3 / 6;
}

.div2 {
    grid-area: 3 / 1 / 4 / 3;
}

.div3 {
    grid-area: 3 / 3 / 4 / 4;
}

.div4 {
    grid-area: 3 / 4 / 4 / 6;
}